/* --- Resets --- */

html, body, div, p {
	margin: 0;
	padding-left: 0;
    padding-right: 0;
	font-weight: inherit;
	font-style: inherit;
    color: white;
    font-family: 'Comic Sans MS', 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

button,
input,
select,
textarea { /* Form Reset */
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

/* --- Navbar --- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(174,218,245,1);
    /*background-color: rgb(219, 125, 45);*/
    padding: 1rem 1.5rem;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.3rem;
    color: white;
}

.navbar-home a {
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 0 0 10px rgb(60, 60, 60);
    color: white;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0.25rem 0 0 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    text-shadow: 0 0 10px rgb(80, 80, 80);
    color: white;
    padding-left: 1rem;
    font-size: 1.75rem;
    display: block;
}

.navbar a:hover {
    text-shadow: 0 0 10px rgb(40, 40, 40);
}

/* --- Responsive Navbar --- */

.toggle-button {
    position: absolute;
    top: 1.65rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(80, 80, 80);
}

.toggle-button:hover .bar {
    box-shadow: 0 0 10px rgb(40, 40, 40);
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

}

/* --- Main Content --- */

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(122,176,213,1);
    /*background-color: rgb(139,69,60,1);*/
}

.main {
    background-image: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(120,176,215,1) 0%, rgba(174,218,245,1) 100%);
    /*background-image: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(139,69,60,1) 0%, rgb(219, 125, 45) 100%);*/
}

.main p {
    font-size: 1.5rem;
    vertical-align: middle;
    text-shadow: 0 0 10px rgb(80, 80, 80);
    padding: 6rem 5rem 5rem 5rem;
}


/* --- Footer --- */

footer {
    display: flex;
    flex: 1 50vmin;
    align-self: stretch;
    background-image: url('../images/bluesky_footer.png');
    /*background-image: url('../images/sunset_footer.png');*/
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
    align-items: flex-end;
    justify-content: center;
}

footer #copyright {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px black;
}
